# --- Python 基础 ---
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# --- 忽略所有大型数据目录 ---
data/analysis/
data/perturbed/
data/training/
workspace_*/
train_work*
al_gpumd_*

# --- 忽略特定后缀的大文件 ---
*.npy
*.raw
*.png
*.out
*.log

# --- 允许上传的部分 (白名单) ---
# 即使上面忽略了 data/，我们也要保留原始结构和少量配置文件
!data/raw/           # 保留原始结构文件 (HAP.cif, POSCAR等通常很小)
!data/dp2xyz.py      # 保留数据转换脚本